body {
    background-color: #000080; /* Dark blue background */
}

.card {
    width: 300px;
    border: 1px solid #000080;
}

.card-header {
    background-color: #808080;
    color: white;
}

.card-body {
    background-color: #ffffff;
}